<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {{ content }}
        <!-- XX001 start Firebase -->
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="/__/firebase/5.11.1/firebase-app.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#reserved-urls -->

        <!-- Initialize Firebase -->
        <script src="/__/firebase/init.js"></script>
        <!-- XX001 end Firebase -->
  </body>
</html>



